// Colors
$gray-border: #CCC;
$green-button: #4CAF50;
$darker-green-button: #45A049;
$success: #4CAF50;
$error: #DE2323;
$month-name-background: #EDF7D8;
$invalid-day: #CCCCCC;
$week-day: #C9DF98;
$weekend-day: #F5F825;